<div class="job_specs">
    <% @job_specs.each do |job_spec| %>
    <div class="job_spec">
        <span><%= job_spec[:name] %></span>
        <span><%= job_spec[:url] %></span>
    </div>
    <% end %>
</div>